@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("./fonts/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: "NotoSansKR-Medium";
  src: url("./fonts/NotoSansKR-Medium.otf");
}

/*  DS-digital 폰트 */
@font-face {
  font-family: "DS-Digital";
  src: url("./fonts/DS-DIGI.TTF");
}

/* RobotoMono 폰트(비콘) */
@font-face {
  font-family: "RobotoMono-Medium";
  src: url("./fonts/RobotoMono-Medium.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
